{% extends 'restaurant/base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
<div class="container-fluid mt-10">
    <h1 class="text-4xl fw-bold mb-4">Confirm Delete</h1>
    <p class="h4 mb-3">Are you sure you want to delete the menu item "{{ object.name }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="py-2 px-3 bg-danger text-white rounded bg-danger">Confirm Delete</button>
        <a href="{% url 'restaurant:menuitem_list' %}" class="py-2 px-3 bg-light0 text-white rounded bg-secondary">Cancel</a>
    </form>
</div>
{% endblock %}