{% extends 'restaurant/base.html' %}

{% block title %}Confirm Delete{% endblock %}

{% block content %}
<div class="container-fluid mt-10">
    <h1 class="text-4xl fw-bold mb-4">Confirm Delete</h1>
    <p class="h4 mb-3">Are you sure you want to delete the table "{{ object.number }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirm Delete</button>
        <a href="{% url 'restaurant:table_list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}